<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@* Razor Syntax: @{ code } if for switch ... *@
<div class="text-center">
  @*  @for(int i = 0; i < 7; ++i)
    {
        <img width="100" src="https://business.olx.ua/wp-content/uploads/2022/04/fb-image_redesign.png" />
    }*@
</div>