@model List<ProductDto>;

<div class="text-center">
    @*<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">*@
    <div class="row row-cols-1 g-2">
        @foreach (var i in Model)
        {
            <div id="default" class="col">  
                <partial name="_ProductCardPartial" model="@i" />
            </div>
        }
    </div>
</div>