@{
    ViewData["Title"] = "Achievement";
}
<h1>@ViewData["Title"]</h1>

<p class="text-center">
    Леонардо насамперед відомий як художник. Крім того, не виключено, що да Вінчі міг бути і скульптором: дослідники з університету Перуджі - Джанкарло Джентіліні і Карло Сісі - стверджують, що знайдена ними в 1990 році теракотова голова є єдиною скульптурною роботою Леонардо да Вінчі, що дійшла до нас [23] . Однак сам да Вінчі в різні періоди свого життя вважав себе насамперед інженером чи вченим. Він віддавав образотворчому мистецтву небагато часу і працював досить повільно. Тому художня спадщина Леонардо кількісно не велика, а низка його робіт втрачена або сильно пошкоджена. Однак його внесок у світову художню культуру є виключно важливим навіть на тлі когорти геніїв, яку дало Італійське Відродження. Завдяки його роботам мистецтво живопису перейшло якісно новий етап свого розвитку. Попередні Леонардо художники Ренесансу рішуче відмовлялися багатьох умовностей середньовічного мистецтва. Це був рух у бік реалізму і багато вже було досягнуто у вивченні перспективи, анатомії , більшої свободи у композиційних рішеннях. Але в плані мальовничості, роботи з фарбою художники були ще досить умовні і скуті. Лінія на картині чітко окреслювала предмет і зображення мало вигляд розмальованого малюнка. Найбільш умовним був пейзаж, який грав другорядну роль. Леонардо усвідомив та втілив нову мальовничу техніку. Він має право на розмитість, тому що так ми її бачимо. Він усвідомив явища розсіювання світла в повітрі та виникнення сфумато  — серпанку між глядачем та зображеним предметом, що пом'якшує колірні контрасти та лінії. У результаті реалізм у живопису перейшов на якісно новий щабель.


    Приблизний ранній автопортрет Леонардо да Вінчі.
    Леонардо першим пояснив, чому синє небо. У книзі «Про живопис» він писав: «Синева неба відбувається завдяки товщі освітлених частинок повітря, яка розташована між Землею і чорнотою, що знаходиться нагорі».

    Леонардо, мабуть, не залишив жодного автопортрета , який міг би бути однозначно приписаний. Вчені засумнівалися в тому, що знаменитий автопортрет сангіною Леонардо (зазвичай датується 1512-1515 роками), що зображує його в старості, є таким. Вважають, що, можливо, це лише етюд голови апостола для «Таємної вечері». Сумніви в тому, що це автопортрет художника, що висловлювалися з XIX століття, останнім їх висловив нещодавно один із найбільших фахівців з Леонардо, професор П'єтро Марані . Італійські вчені заявили про виявлення раннього автопортрета Леонардо да Вінчі. Відкриття належить журналісту П'єро Анджела [24] .

    Леонардо віртуозно грав на лірі . Коли в суді Мілана розглядалася справа Леонардо, він фігурував там саме як музикант, а не як художник чи винахідник.
</p>