@{
    ViewData["Title"] = "Gallery";
}
<h1>@ViewData["Title"]</h1>

<div class="flex-fill gap-2">
    <img width="250" src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQ-FvbbAq5IaJUhtwxXEwY0D-jiZju02ejnNHx_bQWL_27GF3srhwJgqusMAqKh3QqU" />
    <img width="250" src="https://marieclaire.ua/wp-content/uploads/2019/12/2.Madonna-del-Garofano.jpg" />
    <img width="250" src="https://avatars.mds.yandex.net/get-mpic/4262452/img_id5635830207981014623.jpeg/orig" />
    <img width="250" src="https://veryimportantlot.com/cache/thumbed/800x800/580292_1589206872_800_800_0.png" />
</div>