@{
    ViewData["Title"] = "General information";
}
<h1>@ViewData["Title"]</h1>
<div class="align-content-center">
    <div>
        <p class="text-center">
            Леонардо да Вінчі народився 15 квітня 1452 року в селищі Анкіано поблизу невеликого містечка Вінчі , неподалік Флоренції [2] [3] о «три години ночі» тобто о 22:30 за сучасним відліком часу [4] . Примітний запис у щоденнику діда Леонардо, Антоніо да Вінчі (1372-1468) (дослівний переклад): «У суботу, о третій годині ночі 15 квітня народився мій онук, син мого сина П'єро. Хлопчика назвали Леонардо. Його хрестив батько П'єро ді Бартоломео» [5] [4] . Його батьками були 25-річний нотаріус П'єро (1427—1504) та його кохана, селянка Катерина [5] [6] . Перші роки життя Леонардо провів разом із матір'ю [7] . Його батько незабаром одружився з багатою і знатною дівчиною, але цей шлюб виявився бездітним, і П'єро забрав свого трирічного сина на виховання [7] . Розлучений з матір'ю Леонардо все життя намагався відтворити її образ у своїх шедеврах [4] . Жив він у цей час у діда [4] .

            У італійських сім'ях епохи Ренесансу вважалося буденністю виховання позашлюбних дітей поруч із законними нащадками. Багато впливових людей міста Вінчі взяли участь у подальшій долі Леонардо.

            Коли Леонардо було 13 років, його мачуха померла під час пологів [4] . Батько одружився повторно - і незабаром знову залишився вдівцем [4] . Він прожив 77 років, був чотири рази одружений і мав 12 дітей. Батько намагався залучити Леонардо до сімейної професії, але син так і не зацікавився юриспруденцією [7] .

            Леонардо у відсутності прізвища у сенсі; "так Вінчі" означає просто "(родом) з містечка Вінчі " . Повне його ім'я – італ.  Leonardo di ser Piero da Vinci , тобто "Леонардо, син пана П'єро з Вінчі".
        </p>
    </div>
    <img width="300" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcReWz8z40w21XVnqzQeSvu8eMi-d5D10u2YUDgDzRQeEvr584vD" />
</div>